*{
    max-width: 1200px;
    margin: auto;
}

.navbar-parent{
   margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: rgb(87 87 87);
    
}
.anchor{
    display: flex;
    gap: 20px
}

.btn{
    background-color: rgb(29 78 216);
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    border: none;
    font-weight: 700;
}

.hero-parent{
background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.75)), url('./assets/banner.jpg');
 
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
 height: 753px;


}

.hero-items p{
    color: white;
    margin-bottom: 255px;
    
 
}

.hero-items h2{
    color: white;
    font-weight: bold;
    font-weight: 700;
    font-size: 95px;
    margin-bottom: 50px;
   
 
}

.hero-btn{
    margin-top: 70px;
   
}



