*{
    max-width: 1200px;
    margin: auto;
}

.navbar-parent{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: rgb(87 87 87);
    
}
.anchor{
    display: flex;
    gap: 20px
}

.btn{
    background-color: rgb(29 78 216);
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    border: none;
    font-weight: 700;
}